<ng-container *ngIf="tasks; else loading">
    <ng-container *ngIf="tasks.length; else noItems">
        <ion-card *ngFor="let task of tasks"
                  (click)="onTaskClick(task)"
                  [class]="task.acceptedDate ? 'card--accepted-task' : 'card--available-task'">
            <ion-card-content>
                <ion-card-subtitle>
                    {{task.timeSlot}}
                    <span class="card--quoted-time">({{task.quotedTime}})</span>
                    <span class="ion-float-right">{{task.number}}</span>
                </ion-card-subtitle>
                <ion-card-title>{{task.date}}</ion-card-title>
                <ion-card-subtitle class="card--address">{{task.address}}</ion-card-subtitle>
                <p *ngFor="let item of task.items">{{item}}</p>

                <ng-container *ngIf="task.acceptedDate">
                    <ion-card-subtitle>
                        <div *ngIf="task.acceptedDate">Accepted: {{task.acceptedDate | date:'medium'}}</div>
                        <div *ngIf="task.withTeammate">With a teammate</div>
                    </ion-card-subtitle>
                </ng-container>
            </ion-card-content>
        </ion-card>
    </ng-container>
</ng-container>

<ng-template #noItems>
    <div class="app-center">No tasks!</div>
</ng-template>

<ng-template #loading>
    <div class="app-center">
        <ion-spinner name="crescent"></ion-spinner>
    </div>
</ng-template>
